<!DOCTYPE html>
<html>
<head>
<title>Express-Server-HW</title>
<link   rel="stylesheet" type="text/css" href="styles/style.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>


{{{body}}}


<script type="text/javascript" src="/clientSideJavaScript/app.js"></script>
</body>
</html>