<div id="login">
		<label>Login</label>
		<form action="/login" method="POST">
			<input type="text" name="username" placeholder="username"></input>
			<input type="text" name="password" placeholder="password"></input>
			<input type="submit" value="Submit"></input>
		</form>

</div>