<div id="login">
		<label>Sign-Up</label>
		<form action="/register" method="POST">
			<input type="text" name="username" placeholder="username"></input>
			<input type="text" name="password" placeholder="password"></input>
			<input type="submit" value="Sell-Soul"></input>
		</form>

</div>